<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/favorites.css" type="text/css" />
  <title>Favorite</title>
</head>
<body>
  <%- include('partials/_header') %>

  <h1>My Favorites</h1>

  <section class="listings">
    <% for (let i = favoritesData.length - 1; i >= 0; i--) { %>
      <div class="listing">
        <div> <%= favoritesData[i].title %></div>
        <a href="/listings/<%= favoritesData[i].listing_id %>">
          <% if (favoritesData[i].is_sold) { %>
            <img src="https://www.pngmart.com/files/7/Sold-PNG-Photo.png"/>
          <% } else { %>
          <img src="<%= favoritesData[i].img %>"/>
          <%  } %>
        </a>
        <div class="price">$ <%= Number(favoritesData[i].price) %></div>
      </div>
      <% } %>





    </div>
  </section>


</body>
</html>
