<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/favorites.css" type="text/css" />
  <title>Favorite</title>
</head>
<body>
  <%- include('partials/_header') %>

  <h1>My Favorites</h1>
  <div class="price-filters">
    <input type="number" name="lowest_price" placeholder="Lowest Price">
    <input type="number" name="highest_price" placeholder="Highest Price">
    <button type="submit" form="nameform" value="Submit">Submit</button>
  </div>
  <section class="listings">
    <% for (let i = data.length - 1; i >= 0; i--) { %>
      <div class="listing">
        <div> <%= data[i].title %></div>
        <a href="/listings/<%= data[i].id %>">
          <img src="<%= data[i].img %>"/>
        </a>
        <div class="price">$ <%= Number(data[i].price) / 100 %></div>
      </div>
      <% } %>


    </div>
  </section>


</body>
</html>
