<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/listing.css" type="text/css" />
  <title>Listing</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h1>Listing</h1>
  <div class="container">

    <img src="<%= data.img %>"/>

    <div class="listing">

      <div class="title"><span class="form-title"></span><%= data.title %></div>

      <div class="description"><span class="form-title"></span><%= data.description %></textarea></div>

      <div class="price"><span class="form-title"></span>$ <%= data.price /100 %></div>

      <div class="bottom-listing">

        <!-- put if conditions here if NOT admin -->
          <% if (data.user_id === data.currentUserId) { %>
          <button type="submit" class="sold">Mark Sold</button>
          <button type="submit" class="remove">Remove Listing</button>

          <% } else { %>

            <form method="POST" action="/listings/<%=data.id%>"><button type="submit" class="favorite">Add To Favorites</button></form>
            <button type="submit" class="mailto">Email Seller</button>

          <%  } %>
      </div>

    </div>

  </div>

  <a class="home" href="/listings">BACK</a>




</body>
</html>

