<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/listing.css" type="text/css" />
  <title>Listing</title>
</head>
<body>
  <%- include('partials/_header') %>
  <h1>Listing</h1>

  <div class="container">

    <% if (listing.is_sold) { %>
      <img src="https://www.pngmart.com/files/7/Sold-PNG-Photo.png"/>
    <% } else { %>
      <img src="<%= listing.img %>"/>
    <%  } %>

  <div class="listing">

      <div class="title"><span class="form-title"></span><%= listing.title %></div>

      <div class="description"><span class="form-title"></span><%= listing.description %></textarea></div>

      <div class="price"><span class="form-title"></span>$ <%= listing.price %></div>

      <div class="bottom-listing">

        <% if (listing.user_id === user.id) { %>
          <form action="/listings/<%= listing.id %>/sold" method="post" class="bottom-listing">
            <button type="submit" class="sold">Mark Sold</button>
          </form>

          <form action="/listings/<%= listing.id %>/remove" method="post" class="bottom-listing">
            <button type="submit" class="remove">Remove Listing</button>
          </form>

        <% } else { %>
          <form action="/favorites" method="post" class="bottom-listing">
            <input name="listing_id" value="<%= listing.id %>" hidden>
            <button type="submit" class="favorite">Add To Favorites</button>
          </form>

          <form action="/listings" method="post" class="bottom-listing">
            <button type="submit" class="mailto">
              <a href="mailto:<%= seller && seller.email %>">Email Seller</a>
            </button>
          </form>

        <%  } %>
      </div>

    </div>

  </div>

  <a class="home" href="/listings">BACK</a>




</body>
</html>

